.app-footer {
    grid-area: footer;
}

.github-link {
    display: block;
    margin: 1rem auto 0.5rem;
    width: fit-content;
    & > svg {
        width: 32px;
        height: 32px;
        color: var(--color-grey-1);
    }

    &:hover {
        & > svg {
            color: var(--color-gold-4);
        }
    }

    &:visited {
        color: inherit;
    }
}
