.cards-container {
    display: grid;
    grid-auto-rows: min-content;
    justify-items: center;
    justify-content: center;
    width: 100%;

    --grid-layout-gap: 1rem;
    grid-gap: var(--grid-layout-gap);
}

.game-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    width: 100%;
    position: relative;
    & > .back-home-btn {
        margin-bottom: 1rem;
    }
}

.game-score {
    font-family: var(--serif-font);
    letter-spacing: var(--serif-font-letter-spacing);
    font-size: 14pt;
    font-weight: bold;
    line-height: 20pt;
    color: var(--color-gold-1);
}

.game-over-modal {
    background-color: var(--color-blue-7);
    border: 2px solid var(--color-gold-5);
    padding: 1.5rem;
    color: var(--color-grey-1);

    &::backdrop {
        background-color: rgba(0 0 0 / 0.5);
    }

    & > .game-over-text {
        font-size: 1.25rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;

        & > .game-score {
            margin-top: 0.5rem;
        }
    }
}

.game-over-controls {
    display: flex;
    gap: 1rem;
}

@media (min-width: 600px) {
    .cards-container {
        grid-template-columns: repeat(auto-fit, 254px);

        /**
        * User input values.
        */
        --grid-column-count: 3;
        --grid-item--min-width: 254px;

        /**
        * Calculated values.
        */
        --gap-count: calc(var(--grid-column-count) - 1);
        --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
        --grid-item--max-width: calc(
            (100% - var(--total-gap-width)) / var(--grid-column-count)
        );

        grid-template-columns: repeat(
            auto-fill,
            minmax(
                max(var(--grid-item--min-width), var(--grid-item--max-width)),
                1fr
            )
        );
    }
}

@media (min-width: 1160px) {
    .game-details {
        flex-direction: row;
        & > .back-home-btn {
            position: absolute;
            right: 0;
        }
    }

    .cards-container {
        align-items: center;
        grid-template-columns: repeat(auto-fit, calc(308px / 1.5));
        justify-content: space-between;
    }
}
